<h3>Confirm You Want to Delete <%= @flight.callsign %>?</h3>

<% if flash.has?(:message) %>
  <%= flash[:message] %><br>
<% end %>

<form action="/flights/<%= @flight.id %>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <label>Enter Your Account Password: </label>
  <input type="password" name="instructor_password" id="instructor_password"><br>
  <input type="submit" value="Delete Flight">
</form>
