<h3>Are you sure you want to delete <%= @student.name %>'s account?</h3>

<form action="/students/<%= @student.slug %>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <label>Please Enter Your Password To Confirm: </label><br>
  <input type="password" name="password" id="password"><br>
  <input type="submit" value="Delete Account">
</form>
