<h1>Welcome to the Students Directory</h1>

<ol>
  <% @students.each do |student| %>
    <li><a href="/students/<%= student.slug %>"><%= student.name %></a> -- <%= student.course_type %></li>
  <% end %>
</ol>

<% if instructor_logged_in? %>
  <form action="/students/new" method="GET">
    <input type="submit" value="Create New Student">
  </form>
<% end %>
