<h1>Students Sign Up Today!</h1>

<form action="/students" method="POST">
  <label>Name: </label>
  <input type="text" name="student[name]" id="student name" required>
  <label>Email: </label>
  <input type="text" name="student[email]" id="student email" required>
  <label>Course Type: </label>
  <select name="student[course_type]" id="student course" required>
    <% syllabus_types.each do |type| %>
      <option><%= type %></option>
    <% end %>
    <option>None</option>
  </select>
  <label>Password: </label>
  <input type="password" name="student[password]" id="student password" required>
  <label>Confirm Password: </label>
  <input type="password" name="student_confirm" id="password_confirm" required>
  <input type="submit" value="Create Account">
</form>
