<h1>Sign Up Today!</h1>
<h3>Instructors Only</h3>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/instructors" method="POST">
  <label>Name: </label>
  <input type="text" name="instructor[name]" id="instructor name" required>
  <label>Email: </label>
  <input type="text" name="instructor[email]" id="instructor email" required>
  <label>Password: </label>
  <input type="password" name="instructor[password]" id="instructor password" required>
  <label>Confirm Password: </label>
  <input type="password" name="password_confirm" id="password_confirm" required>
  <label>Admin Password: </label>
  <input type="password" name="admin_password" id="admin password" required>
  <input type="submit" value="Create Account">
</form>
