<h1>Welcome to the Instructors Directory</h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %><br>
<% end %>

<ol>
  <% @instructors.all.each do |instructor| %>
    <li> <a href="/instructors/<%= instructor.slug %>"><%= instructor.name %></a></li>
  <% end %>
</ol>
