<h1>Instructors Log In Here</h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %><br>
<% end %>

<form action="/instructors/login" method="POST">
  <label>Email: </label>
  <input type="text" name="email" id="instructor_email"><br>
  <label>Password: </label>
  <input type="password" name="password" id="instructor_password"><br>
  <input type="submit" value="Log In">
</form>
