<h1>Welcome to the Pilot Scheduling Web Application</h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %><br>
<% end %>

<h3><a href="/instructors/new">Instructors Sign Up Here</a></h3>
<p>Already Have an Account?</p>
<h3><a href="/instructors/login">Instructors Login Here</a></h3>
<br>
<br>
<h3><a href="/students/new">Students Sign Up Here</a></h3>
<p>Already Have an Account?</p>
<h3><a href="/students/login">Students Login Here</a></h3>
