<div class="wrapper">
  <section id="instructor-log-in" class="col-1 first shadow">
    <h3><a href="/instructors/new">Instructors Sign Up Here</a></h3>
    <p>Already Have an Account?</p>
    <h3><a href="/instructors/login">Instructors Login Here</a></h3>
  </section>

  <section id="student-log-in" class="col-1 shadow">
    <h3><a href="/students/new">Students Sign Up Here</a></h3>
    <p>Already Have an Account?</p>
    <h3><a href="/students/login">Students Login Here</a></h3>
  </section>
</div>
